.slider{
    /* height: 25em; */
    width: 90%;
    margin: 0 auto;
    & img{
        height: 15em;
        width: 100%;
    }
}
section{
    background-color: #fff;
    width: 90%;
    margin: 1em auto;
    padding: 1em;   
}

/* .cards{
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &>div{
        font-size: 0.5em;
        width: 9em;
        height: 5em;
        & img{
            height: 10em;
            width: 100%;
            padding: 10px;
        }
        &>span{
            height: 3em;
            font-size: 1em;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            &+p{
                font-size: 10px;
            }
        }
    }
} */
/* .sellingPrice{
    font-size: 15px;
    font-weight: 500;
    color: #212121;
}
.costPrice{
    text-decoration: line-through;
    font-size: 13px;
    color: #878787;
    margin-left: 8px;
}
.discount{
    color: #388e3c;
    font-size: 12px;
    letter-spacing: -.2px;
    font-weight: 500;
    margin-left: 5px;
}
.cardBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.bigBillion img{
    width: 100%;
}

@media only screen and (max-width:539px){
    section{
        width: 100%;
    }
    .slider{
        width: 100%;
        & img{
            height: 8em;
        }
    }
    /* .cards{
        flex-direction: column;
        gap: 1em;
        &>div{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            & img{
                height: 20em;
                width: 80%;
                margin: auto;
            }
            & span{
                padding: 0 1em;
            }
        }
    }
    .cardBottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
    } */
}